<div class="container">
    <div class="overview">
        <p><b>What is Scss :- </b>Scss is Sassy cascading style sheets</p>
        <p><b>What is Sass :- </b>Sass is Syntactically Awesome Stylesheets</p>
        <br>
        <h4>Scss contains</h4>
        <hr>
        <p>Variables</p>
        <p>Nesting</p>
        <p>Partials - Import</p>
        <p>Extend/Inheritance</p>
        <p>mixins - Include</p>
        <p>Operators</p>
    </div>

    <div class="variables">
        <br>
        <h4>Variable</h4>
        <hr>
        <p>Think of variables as a way to store information that you want to reuse throughout your stylesheet. You can store things like colors, font stacks, or any CSS value you think you'll want to reuse. Sass uses the $ symbol to make something a variable.</p>
    </div>

    <div class="nesting">
        <br>
        <h4>Nesting</h4>
        <hr>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>

    <div class="partials">
        <br>
        <h4>Partials - import</h4>
        <hr>
        <p>Partials isnothing but different scss file. it will import only in another scss file.</p>
    </div>


    <div class="extend">
        <br>
        <h4>Extend / Inheritance</h4>
        <hr>
        <p>This is one of the most useful features of Sass. Using @extend lets you share a set of CSS properties from one selector to another. It helps keep your Sass very DRY. </p>
        <button class="jumbo-button">Click this button</button>
    </div>

    <div class="mixin">
        <br>
        <h4>Mixins / include</h4>
        <hr>
        <p>Some things in CSS are a bit tedious to write, especially with CSS3 and the many vendor prefixes that exist. A mixin lets you make groups of CSS declarations that you want to reuse throughout your site. You can even pass in values to make your
            mixin more flexible. A good use of a mixin is for vendor prefixes</p>
        <button class="jumbo-button-btn">Click this button</button>
    </div>

    <div class="operators">
        <br>
        <h4>Operators</h4>
        <hr>
        <p>Doing math in your CSS is very helpful. Sass has a handful of standard math operators like +, -, *, /, and %.</p>
    </div>
</div>